<!--
<div class="col-md-6">
  <div class="card card-body">
      <h3 class="box-title m-b-0">Catégorie</h3>
      <p class="text-muted m-b-30 font-13">Une fois créée une catégorie pourra être affectée à un livre ou une vidéo</p>
      <form class="form-horizontal" (ngSubmit)="onSubmit(addCategory)" #addCategory="ngForm">
        <div class="form-group row">
            <label for="name" class="col-sm-3 text-right control-label col-form-label">Nom de la catégorie</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="name"
                  required 
                  name="nom"
                  placeholder="Categorie"
                  [(ngModel)]='model.nom'
                  #nom = 'ngModel'
                >
            </div>
        </div>
        <p [hidden]='nom.valid || nom.pristine' class="alert-error"> Ce champ est obligatoire</p>

        <div class="form-group row">
          <label for="etat" class="col-sm-3 text-right control-label col-form-label">Etat</label>
          <div class="col-sm-9">
            <div class="form-check">
                <label class="custom-control custom-radio">
                    <input id="etat-true" value="1" name="etat" type="radio" class="custom-control-input" [(ngModel)]='model.etat'>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Publier</span>
                </label>
              </div>
              <div class="form-check">
                <label class="custom-control custom-radio">
                    <input id="etat-false" value="0" name="etat" type="radio" class="custom-control-input" [(ngModel)]='model.etat'>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Non publier</span>
                </label>
              </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-right">
              <button type="button" class="btn btn-sm btn-secondary">Fermer</button>
              <button type="submit" class="btn btn-sm btn-info" [disabled]="!addCategory.form.valid || isLoading"><i class="fa fa-spinner fa-spin m-r-10" *ngIf='isLoading'></i>Enregistrer</button>
            </div>
          </div>
      </form>
  </div>
</div>
-->          

<!-- Button trigger modal -->
<button type="button" class="btn btn-sm btn-primary m-b-10" data-toggle="modal" data-target="#addCategorieModal">
  <i class="fa fa-plus"></i> Ajouter une catégorie
</button>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
        <div class="card-body bg-light">
            <div class="row">
              <div class="col-6">
                <h4 class="font-light m-t-0">Liste des catégories</h4>
              </div>
              <div class="col-6 align-self-center display-6 text-info text-right">{{ categories.length }}</div>
            </div>
          </div>
      <div class="card-body">
        <table class="table table-striped" [mfData]="categories" #mf="mfDataTable" [mfRowsOnPage]="8">
          <thead>
            <tr>
              <th>#</th>
              <th><mfDefaultSorter by="numeroBT">Nom</mfDefaultSorter></th>
              <th><mfDefaultSorter by="nomEquipement">Etat</mfDefaultSorter></th>
              <th><mfDefaultSorter by="nomEquipement">Elements</mfDefaultSorter></th>
              <th><mfDefaultSorter by="nomEquipement">Actions</mfDefaultSorter></th>
            </tr>    
          </thead>  
          <tbody>
            <tr *ngFor='let category of mf.data; let index = index'>
              <td>{{ index + 1 }}</td>
              <td>{{ category.nom }}</td>
              <td *ngIf='category.etat == 1'><span class="badge badge-success">Publier</span></td>
              <td *ngIf='category.etat == 0'><span class="badge badge-warning">Non publier</span></td>
              <td>{{ category.element }}</td>
              <td> <button class="btn btn-sm m-r-30"
                  (click)='prepareData(category)'
                  data-toggle="modal" data-target="#updateCategoryModal"
                >
                  <i class="fa fa-edit" style="color: blue"></i></button>

                <button class="btn btn-sm"
                  (click)='deleteCategory(category)'
                  >
                <i class="fa fa-trash" style="color:red"></i> </button> </td>
            </tr>
          </tbody>  
          <tfoot>
            <tr>
              <td colspan="5">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot> 
        </table> 
      </div>
    </div>
  </div>
</div>         


<!-- Mise à jour d'une category -->
<div class="modal fade" id="updateCategoryModal" tabindex="-1" role="dialog" aria-labelledby="updateCategoryLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="form-horizontal" (ngSubmit)="sendUpdateCategory(updateCategory)" #updateCategory="ngForm">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Mise à jour</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="name" class="col-sm-3 text-right control-label col-form-label">Nom de la catégorie</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="name"
                          required 
                          name="nom"
                          placeholder="Categorie"
                          [(ngModel)]='model.nom'
                          #nom = 'ngModel'
                        >
                    </div>
                </div>
                <p [hidden]='nom.valid || nom.pristine' class="alert-error"> Ce champ est obligatoire</p>
        
                <div class="form-group row">
                  <label for="etat" class="col-sm-3 text-right control-label col-form-label">Etat</label>
                  <div class="col-sm-9">
                    <div class="form-check">
                        <label class="custom-control custom-radio">
                            <input id="etat-true" value="1" name="etat" type="radio" class="custom-control-input" [(ngModel)]='model.etat'>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Publier</span>
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="custom-control custom-radio">
                            <input id="etat-false" value="0" name="etat" type="radio" class="custom-control-input" [(ngModel)]='model.etat'>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Non publier</span>
                        </label>
                      </div>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-sm btn-info" [disabled]="!updateCategory.form.valid || isLoading"><i class="fa fa-spinner fa-spin m-r-10" *ngIf='isLoading'></i>Enregistrer</button>
            </div>
          </div>
    </form>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addCategorieModal" tabindex="-1" role="dialog" aria-labelledby="addCategorieModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form class="form-horizontal" (ngSubmit)="onSubmit(addCategory)" #addCategory="ngForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="box-title m-b-0">Catégorie</h5>
          <p class="text-muted m-b-30 font-13">Une fois créée une catégorie pourra être affectée à un livre ou une vidéo</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
              <label for="name" class="col-sm-3 text-right control-label col-form-label">Nom de la catégorie</label>
              <div class="col-sm-9">
                  <input type="text" class="form-control" id="name"
                    required 
                    name="nom"
                    placeholder="Categorie"
                    [(ngModel)]='model.nom'
                    #nom = 'ngModel'
                  >
              </div>
          </div>
          <p [hidden]='nom.valid || nom.pristine' class="alert-error"> Ce champ est obligatoire</p>
  
          <div class="form-group row">
            <label for="etat" class="col-sm-3 text-right control-label col-form-label">Etat</label>
            <div class="col-sm-9">
              <div class="form-check">
                  <label class="custom-control custom-radio">
                      <input id="etat-true" value="1" name="etat" type="radio" class="custom-control-input" [(ngModel)]='model.etat'>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Publier</span>
                  </label>
                </div>
                <div class="form-check">
                  <label class="custom-control custom-radio">
                      <input id="etat-false" value="0" name="etat" type="radio" class="custom-control-input" [(ngModel)]='model.etat'>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Non publier</span>
                  </label>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary">Fermer</button>
            <button type="submit" class="btn btn-sm btn-info" [disabled]="!addCategory.form.valid || isLoading"><i class="fa fa-spinner fa-spin m-r-10" *ngIf='isLoading'></i>Enregistrer</button>
        </div>
      </div>
    </form>  
  </div>
</div>
