<!-- Button trigger modal -->
<button type="button" class="btn btn-sm btn-primary m-b-10" data-toggle="modal" data-target="#addBookModal">
 <i class="fa fa-plus"></i> Ajouter un livre
</button>
  
<!-- Modal -->
<div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form class="form-horizontal" (ngSubmit)="onSubmit(addBook)" #addBook="ngForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajouter un livre</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
                <div class="form-group row">
                    <label for="titre-book" class="col-sm-12 text-left control-label col-form-label">Titre</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" id="titre-book"
                        required 
                        name="titre"
                        placeholder="Titre du livre"
                        [(ngModel)]='model.titre'
                        #titre = 'ngModel'
                      >
                    </div>
                </div>
                <p [hidden]='titre.valid || titre.pristine' class="alert-error">Ce champ est obligatoire</p>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                    <label for="etat" class="col-sm-12 text-left control-label col-form-label">Etat</label>
                    <div class="col-sm-12">
                      <!-- Default unchecked -->
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" value="1" id="defaultUnchecked" name="etatLivre" [(ngModel)]='model.etat'>
                          <label class="custom-control-label" for="defaultUnchecked">Publier</label>
                        </div>
                        
                        <!-- Default checked -->
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" value="0" id="defaultChecked" name="etatLivre" checked [(ngModel)]='model.etat'>
                          <label class="custom-control-label" for="defaultChecked">Non publier</label>
                        </div>
                    </div>
                  </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group row" *ngIf='categories.length > 0'>
                    <label for="titre" class="col-sm-12 text-left control-label col-form-label">Catégories</label>
                    <div class="col-sm-12">
                        <ng-select [options]="categories" [multiple]="true" name="category" [(ngModel)]="model.categories">
                        </ng-select>
                    </div>
                </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group row" *ngIf='auteurs.length > 0'>
                      <label for="titre" class="col-sm-12 text-left control-label col-form-label">Auteurs</label>
                      <div class="col-sm-12">
                          <ng-select [options]="auteurs" [multiple]="true" name="auteurs" [(ngModel)]="model.auteurs">
                          </ng-select>
                      </div>
                  </div>
              </div>
            </div>            
            
            <div class="row">
              <div class="col-sm-6">
                  <div class="form-group row" *ngIf='illustrateurs.length > 0'>
                      <label for="illustrateur" class="col-sm-12 text-left control-label col-form-label">Illustrateurs</label>
                      <div class="col-sm-12">
                          <ng-select [options]="illustrateurs" [multiple]="true" name="illustrateurs" [(ngModel)]="model.illustrateurs">
                          </ng-select>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group row">
                      <label for="titre" class="col-sm-12 text-left control-label col-form-label">Image de préface</label>
                      <div class="col-sm-12">
                          <input type="file" id="filePicker" class="form-control" (change)="handleFileSelect($event)">
                      </div>
                  </div>
              </div>
            </div>

            <fieldset>
                <legend>Résumé/Synopsis</legend>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="form-group row" *ngIf='langues.length > 0'>
                            <label for="langue" class="col-sm-6 text-left control-label col-form-label">Choisir la langue du résumé</label>
                            <div class="col-sm-6">
                              <select name="langues" id="langue" [(ngModel)]="model.langue" class="form-control">
                                <option value="{{element.value}}" *ngFor='let element of langues'>{{ element.label}}</option>
                              </select>
                            </div>
                        </div>
                    </div>
                    <label for="titre" class="col-sm-12 text-left control-label col-form-label">Veuillez saisir le résumé</label>
                    <div class="col-sm-12">
                        <editor apiKey="{{tinymcekey}}" [init]="{plugins: 'link'}" [(ngModel)]="model.description" name='description'></editor>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-sm btn-info" [disabled]="!addBook.form.valid || isLoading"><i class="fa fa-spinner fa-spin m-r-10" *ngIf='isLoading'></i>Enregistrer</button>
        </div>
      </div>
    </form>  
  </div>
</div>

<div class="row">
    <div class="col-lg-12">
      <div class="card">
          <div class="card-body bg-light">
              <div class="row">
                <div class="col-6">
                  <h4 class="font-light m-t-0">Liste des livres</h4>
                </div>
                <div class="col-6 align-self-center display-6 text-info text-right">{{ livres.length }}</div>
              </div>
            </div>
        <div class="card-body">
          <table class="table table-striped" [mfData]="livres" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
              <tr>
                <th>#</th>
                <th>Préface</th>
                <th><mfDefaultSorter by="titre">Titre</mfDefaultSorter></th>
                <th><mfDefaultSorter by="categories">Catégories</mfDefaultSorter></th>
                <th><mfDefaultSorter by="ages">Ages</mfDefaultSorter></th>
                <th><mfDefaultSorter by="description">Description</mfDefaultSorter></th>
                <th><mfDefaultSorter by="etat">Etat</mfDefaultSorter></th>
                <th><mfDefaultSorter by="action">Action</mfDefaultSorter></th>
              </tr>    
            </thead>  
            <tbody>
              <tr *ngFor='let element of mf.data; let index = index'>
                <td> <a [routerLink]="['./', element.livre.id]">Voir <i class="m-l-10 fa fa-arrow-right"></i> </a></td>
                <td>
                  <img src="{{ element.livre.picture }}" alt="preface du livre" width="100" height="100">
                </td>
                <td>{{ element.livre.titre }}</td>
                <td *ngIf='element.categories.length == 0' >Non spécifiée </td>
                <td *ngIf='element.categories.length > 0'>
                  <span class="badge badge-secondary m-r-10"  *ngFor='let category of element.categories'> {{ category.nom }}</span>
                </td>
                <td *ngIf='element.ages.length == 0'> Non specifiée </td>
                <td *ngIf='element.ages.length > 0'>
                  <span class="badge badge-secondary m-r-10" *ngFor='let age of element.ages'> {{ age.nom }}</span>
                </td>
                <td>
                  <div class="description" [innerHTML]='element.livre.description'></div>
                </td>
                <td *ngIf='element.livre.etat == 1'><span class="badge badge-success">Publier</span></td>
                <td *ngIf='element.livre.etat == 0'><span class="badge badge-warning">Non publier</span></td>
                <td> 
                  <button class="btn btn-sm m-r-30"
                    (click)='prepareData(element.livre)'
                    data-toggle="modal" data-target="#updateCategoryModal"
                  >
                  <i class="fa fa-edit" style="color: blue"></i></button>

                  <button class="btn btn-sm"
                    (click)='deleteBook(element.livre)'
                  >
                  <i class="fa fa-trash" style="color:red"></i> </button> </td>
            </tr>
            </tbody>  
            <tfoot>
              <tr>
                <td colspan="5">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot> 
          </table> 
        </div>
      </div>
    </div>
  </div>