<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile">
            <!-- User profile image -->
            <div class="profile-img"> <img src="assets/images/users/1.jpg" alt="user" /> </div>
            <!-- User profile text-->
            <div class="profile-text"> <a href="#" class="dropdown-toggle link u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Markarn Doe <span class="caret"></span></a>
                <div class="dropdown-menu animated flipInY">
                    <a href="#" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                    <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
                    <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                    <div class="dropdown-divider"></div> <a href="#" class="dropdown-item"><i class="ti-settings"></i> Account Setting</a>
                    <div class="dropdown-divider"></div> <a href="login.html" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                </div>
            </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!--
                <li class="nav-small-cap">PERSONAL</li>
                <li [class.active]="showMenu === 'start'">
                    <a routerLink="/starter" (click)="addExpandClass('start')" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-gauge"></i><span class="hide-menu">Starter Page</span></a>
                </li>
                <li [class.active]="showMenu === 'component'">
                    <a class="has-arrow" href="javascript:void(0)" (click)="addExpandClass('component')" aria-expanded="false"><i class="mdi mdi-bullseye"></i><span class="hide-menu">Component</span></a>
                    <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'component'">
                        <li><a routerLink="/accordion" [routerLinkActive]="['router-link-active']">Accordion</a></li>
                        <li><a routerLink="/alert" [routerLinkActive]="['router-link-active']">Alert</a></li>
                        <li><a routerLink="/carousel" [routerLinkActive]="['router-link-active']">Carousel</a></li>
                        <li><a routerLink="/datepicker" [routerLinkActive]="['router-link-active']">Datepicker</a></li>
                        <li><a routerLink="/dropdown" [routerLinkActive]="['router-link-active']">Dropdown - Collapse</a></li>
                        <li><a routerLink="/modal" [routerLinkActive]="['router-link-active']">Modal</a></li>
                        <li><a routerLink="/pagination" [routerLinkActive]="['router-link-active']">Pagination</a></li>
                        <li><a routerLink="/poptool" [routerLinkActive]="['router-link-active']">Popover & Tooltip</a></li>
                        <li><a routerLink="/progressbar" [routerLinkActive]="['router-link-active']">Progressbar</a></li>
                        <li><a routerLink="/rating" [routerLinkActive]="['router-link-active']">Ratings</a></li>
                        <li><a routerLink="/tabs" [routerLinkActive]="['router-link-active']">Tabs</a></li>
                        <li><a routerLink="/timepicker" [routerLinkActive]="['router-link-active']">Timepicker</a></li>
                        <li><a routerLink="/typehead" [routerLinkActive]="['router-link-active']">Typehead</a></li>
                    </ul>
                </li>
                -->
                <li [class.active]="showMenu === 'books'">
                    <a routerLink="/books" (click)="addExpandClass('books')" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-file"></i><span class="hide-menu">Livres</span></a>
                </li>

                <li [class.active]="showMenu === 'category'">
                    <a routerLink="/category" (click)="addExpandClass('category')" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-file"></i><span class="hide-menu">Catégorie</span></a>
                </li>

                <li [class.active]="showMenu === 'videos'">
                    <a routerLink="/videos" (click)="addExpandClass('videos')" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-video"></i><span class="hide-menu">Videos</span></a>
                </li>

                <li [class.active]="showMenu === 'user'">
                    <a routerLink="/user" (click)="addExpandClass('user')" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-file"></i><span class="hide-menu">Utilisateurs</span></a>
                </li>

                <!--
                
                <li [class.active]="showMenu === 'fomrs'">
                    <a routerLink="/basicform" (click)="addExpandClass('fomrs')" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-file"></i><span class="hide-menu">Forms</span></a>
                </li>
                <li [class.active]="showMenu === 'tables'">
                    <a routerLink="/basictable" (click)="addExpandClass('tables')" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-table"></i><span class="hide-menu">Tables</span></a>
                </li>
                <li [class.active]="showMenu === 'icons'">
                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false" (click)="addExpandClass('icons')" ><i class="mdi mdi-brush"></i><span class="hide-menu">Icons</span></a>
                    <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'icons'">
                        <li><a routerLink="/fontawesome" [routerLinkActive]="['router-link-active']">Fontawesome</a></li>
                        <li><a routerLink="/simpleline" [routerLinkActive]="['router-link-active']">Simple Line Icons</a></li>
                        <li><a routerLink="/material" [routerLinkActive]="['router-link-active']">Material Icons</a></li>
                    </ul>
                </li>
                <li [class.active]="showMenu === 'multilevel'"> 
                    <a class="has-arrow waves-effect waves-dark" (click)="addExpandClass('multilevel')" aria-expanded="false"><i class="mdi mdi-arrange-send-backward"></i><span class="hide-menu">Multi level dd</span></a>
                    <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'multilevel'">
                        <li><a href="#">item 1.1</a></li>
                        <li><a href="#">item 1.2</a></li>
                        <li [class.active]="showSubMenu === 'multilevel2'"> 
                            <a class="has-arrow" href="javascript:void(0)" (click)="addActiveClass('multilevel2')" aria-expanded="false">Menu 1.3</a>
                            <ul aria-expanded="false" class="collapse" [class.in]="showSubMenu === 'multilevel2'">
                                <li><a href="#">item 1.3.1</a></li>
                                <li><a href="#">item 1.3.2</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.4</a></li>
                            </ul>
                        </li>
                        <li><a href="#">item 1.4</a></li>
                    </ul>
                </li>
                -->
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
    <div class="sidebar-footer">
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
    </div>
    <!-- End Bottom points-->
</aside>