<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Textes</h4>
      </div>
      <div class="card-body" *ngIf='elements.textes.length == 0'>
        <p class="text-muted text-center"> Aucun texte enregistré pour le moment</p>
      </div>
      <div class="card-body" *ngIf='elements.textes.length > 0'>
        <table class="table table-sthiped">
          <thead>
            <th>#</th>
            <th>Element</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr *ngFor='let texte of elements.textes'>
              <td>{{ texte.position }}</td>
              <td><div [innerHtml]='texte.description'></div></td>
              <td> 
                  <button class="btn btn-sm m-r-30"
                    (click) = 'prepareTexte(texte)'
                    data-toggle="modal" data-target="#updateTexteModal"
                  >
                  <i class="fa fa-edit" style="color: blue"></i></button>

                  <button class="btn btn-sm"
                    (click)='deleteTexte(texte)'
                  >
                  <i class="fa fa-trash" style="color:red"></i> </button> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<div class="row" >
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Images</h4>
      </div>
      <div class="card-body" *ngIf='elements.images.length == 0'>
        <p class="text-muted text-center"> Aucune image enregistrée pour le moment</p>
      </div>
      <div class="card-body" *ngIf='elements.images.length > 0'>
        <table class="table table-sthiped">
          <thead>
            <th>#</th>
            <th>Element</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr *ngFor='let image of elements.images'>
              <td>{{ image.position }}</td>
              <td>
                  <a target="_blank" href="{{image.url}}">
                    <img src="{{image.url}}" alt="" width="100" height="100">
                  </a> 
              </td>    
              <td> 
                <button class="btn btn-sm m-r-30"
                  (click)='prepareDate(image)'
                  data-toggle="modal" data-target="#updateImageModal"
                >
                <i class="fa fa-edit" style="color: blue"></i></button>

                <button class="btn btn-sm"
                  (click)='deleteImage(image)'
                >
                <i class="fa fa-trash" style="color:red"></i> </button> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="updateImageModal" tabindex="-1" role="dialog" aria-labelledby="addTextLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <form class="form-horizontal" (ngSubmit)="updateImage(addImageForm)" #addImageForm="ngForm"> 
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Mise à jour</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group row">
                <div class="col-lg-12">
                  <label for="position" class="col-lg-6 text-left control-label col-form-label">Définisser la position du contenu</label>
                  <div class="col-lg-6 form-group">
                      <input type="number" min="0" id="position" class="form-control"
                        name="position-image" required
                        [(ngModel)]='lastImage.position'
                      >
                  </div>
                </div>
              </div>
              <div class="form-group row">  
                <div class="col-sm-12">
                    <label for="image" class="col-sm-6 text-left control-label col-form-label">Importer une image</label>
                    <div class="col-sm-6 form-group">
                        <input type="file" id="image" class="form-control" (change)="handleFileSelect($event)">
                    </div>
                </div>
                </div>
              <br>
              <div class="row">
                <div class="col-sm-12">
                  <ul class="list-inline">
                    <li>
                      <a target="_blank" href="{{lastImage.url}}">
                        <img src="{{lastImage.url}}" alt="" width="100" height="100">
                      </a> 
                    </li>
                  </ul>
                </div>
              </div>
            </div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-sm btn-info" [disabled]="!addImageForm.form.valid || isLoading"><i class="fa fa-spinner fa-spin m-r-10" *ngIf='isLoading'></i>Enregistrer</button>
              </div>
          </div>
      </form>
    </div>
  </div>

  <div class="modal fade" id="updateTexteModal" tabindex="-1" role="dialog" aria-labelledby="addTextLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <form class="form-horizontal" (ngSubmit)="updateText(addTextForm)" #addTextForm="ngForm"> 
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Mise à jour</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group row">
                  <div class="col-sm-12">
                      <label for="position" class="col-sm-8 text-left control-label col-form-label">Définisser la position du contenu</label>
                      <div class="col-sm-4 form-group">
                          <input type="number" min="0" id="position" class="form-control"
                            name="position-texte" required
                            [(ngModel)]='lastTexte.position'
                          >
                      </div>
                    </div>
                </div>
                <div class="form-group row">
                  <label for="texte" class="col-sm-12 text-left control-label col-form-label">Texte</label>
                  <div class="col-sm-12">
                      <editor apiKey="{{tinymcekey}}" [init]="{plugins: 'link'}" [(ngModel)]="lastTexte.description" name='texte'></editor>
                  </div>
                </div>
              </div>  
              <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn btn-sm btn-info" [disabled]="!addTextForm.form.valid || isLoading"><i class="fa fa-spinner fa-spin m-r-10" *ngIf='isLoading'></i>Enregistrer</button>
                </div>
            </div>
        </form>
      </div>
    </div>
