<button type="button" class="btn btn-sm btn-primary m-b-10" data-toggle="modal" data-target="#addVideoModal">
  <i class="fa fa-plus m-b10"></i> Ajouter und video
</button>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body bg-light">
        <div class="row">
          <div class="col-6">
            <h4 class="font-light m-t-0">Liste des videos</h4>
          </div>
          <div class="col-6 align-self-center display-6 text-info text-right">{{ videos.length }}</div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <th>#</th>
            <th>Titre</th>
            <th>Vignette</th>
            <th>Categories</th>
            <th>Description</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr *ngFor='let video of videos; let index = index'>
              <td>{{ index + 1 }}</td>
              <td>{{ video.titre }}</td>
              <td> 
                <a href="{{ video.url }}" target="_blank">Voir la vidéo</a>
              </td>   
              <td *ngIf='video.categories.length > 0'>
                <span class="badge badge-secondary m-r-10"  *ngFor='let category of video.categories'> {{ category.nom }}</span>
              </td>
              <td><div class="description" [innerHTML]='video.description'></div></td>
              <td> 
                <button class="btn btn-sm m-r-30"
                  (click)='prepareData(video)'
                  data-toggle="modal" data-target="#updateVideoModal"
                >
                  <i class="fa fa-edit" style="color: blue"></i></button>

                <button class="btn btn-sm"
                (click)='deleteVideo(video)'>
                  <i class="fa fa-trash" style="color:red"></i> </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addVideoModal" tabindex="-1" role="dialog" aria-labelledby="addVideoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form class="form-horizontal" (ngSubmit)="onSubmit(addVideoForm)" #addVideoForm="ngForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajouter une vidéo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group row">
              <label for="titre-Video" class="col-sm-2 text-left control-label col-form-label">Titre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="titre-video" required name="titre" placeholder="Titre de la video" [(ngModel)]='model.titre'
                  #titreCheck='ngModel'>
              </div>
            </div>
            <p [hidden]='titreCheck.valid || titreCheck.pristine' class="alert-error">Ce champ est obligatoire</p>
            <div class="form-group row">
              <label for="url-video" class="col-sm-2 text-left control-label col-form-label">URL</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="url-video" required name="url" placeholder="Titre de la video" [(ngModel)]='model.url'
                  #urlCheck='ngModel'>
              </div>
            </div>
            <p [hidden]='urlCheck.valid || urlCheck.pristine' class="alert-error">Ce champ est obligatoire</p>
            <div class="form-group row" *ngIf='listeCategories.length > 0'>
                <label for="titre" class="col-sm-4 text-left control-label col-form-label">Catégories</label>
                <div class="col-sm-8">
                  <ng-select [options]="listeCategories" [multiple]="true" name="category" [(ngModel)]="model.categories">
                  </ng-select>
                </div>
            </div>
            <div class="form-group row">
              <label for="description" class="col-sm-12 text-left control-label col-form-label">Description</label>
              <div class="col-sm-12">
                <editor apiKey="{{tinymcekey}}" [init]="{plugins: 'link'}" [(ngModel)]="model.description" name='description'></editor>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-sm btn-info" [disabled]="!addVideoForm.form.valid || isLoading">
              <i class="fa fa-spinner fa-spin m-r-10" *ngIf='isLoading'></i>Enregistrer</button>
          </div>
        </div>
    </form>
  </div>
</div>


<div class="modal fade" id="updateVideoModal" tabindex="-1" role="dialog" aria-labelledby="updateVideoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form class="form-horizontal" (ngSubmit)="updateVideo(updateVideoForm)" #updateVideoForm="ngForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Mise à jour </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <div class="form-group row">
            <label for="titre-Video" class="col-sm-2 text-left control-label col-form-label">Titre</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="titre-video" required name="titre" placeholder="Titre de la video" [(ngModel)]='model.titre'
                #titreCheckUpdate='ngModel'>
            </div>
          </div>
          <p [hidden]='titreCheckUpdate.valid || titreCheckUpdate.pristine' class="alert-error">Ce champ est obligatoire</p>
          <div class="form-group row">
            <label for="url-video" class="col-sm-2 text-left control-label col-form-label">URL</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="url-video" required name="url" placeholder="Titre de la video" [(ngModel)]='model.url'
                #urlCheckUpdate='ngModel'>
            </div>
          </div>
          <p [hidden]='urlCheckUpdate.valid || urlCheckUpdate.pristine' class="alert-error">Ce champ est obligatoire</p>
          <div class="form-group row" *ngIf='listeCategories.length > 0'>
              <label for="titre" class="col-sm-2 text-left control-label col-form-label">Catégories</label>
              <div class="col-sm-10">
                <ng-select [options]="listeCategories" [multiple]="true" name="category" [(ngModel)]="model.categories">
                </ng-select>
              </div>
              <br>
              <ul>
                <li *ngIf='model.allCategories.length > 0'>
                  <span class="badge badge-secondary m-l-10"  *ngFor='let category of model.allCategories'> {{ category.nom }}</span>
                </li>
              </ul>
          </div>
          <div class="form-group row">
            <label for="description" class="col-sm-12 text-left control-label col-form-label">Description</label>
            <div class="col-sm-12">
              <editor apiKey="{{tinymcekey}}" [init]="{plugins: 'link'}" [(ngModel)]="model.description" name='description'></editor>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-sm btn-info" [disabled]="!updateVideoForm.form.valid || isLoading">
            <i class="fa fa-spinner fa-spin m-r-10" *ngIf='isLoading'></i>Enregistrer</button>
        </div>
      </div>
    </form>
  </div>
</div>