<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-2">
        <img src="https://easymainsts-space.sfo2.digitaloceanspaces.com/edenin/2019-02-02-pic-livre-Street%20Lourd-part-.jpg" alt="preface du livre" width="100" height="100">
      </div>
      <div class="col-sm-4">
        <ul class="list-unstyled">
          <li> <span class="text-muted m-r-10">Titre</span> {{ livre.titre }} </li>
          <li> <span class="text-muted m-r-10">Auteurs</span> <span class="badge badge-secondary m-r-10" *ngFor='let auteur of livre.auteurs'> {{ auteur.nom }}</span></li>
          <li> <span class="text-muted m-r-10">Catégories</span><span class="badge badge-info m-r-10" *ngFor='let categorie of livre.categories'> {{ categorie.nom }}</span></li>
          <li> <span class="text-muted m-r-10">Ages</span>Ismael GADJI, Street Man</li>
        </ul>
      </div>
      <div class="col-sm-6 description">
        <p class="text-muted">Description</p>
        <div class="description" [innerHtml]='livre.description'></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body bg-light">
        <div class="row">
          <div class="col-6">
            <h4 class="font-light m-t-0">Liste des contenus</h4>
            <button type="button" class="btn btn-sm btn-success"
              data-toggle="modal" data-target="#addContentInBook"
            > <i class="fa fa-plus"></i> Ajouter un contenu</button>
          </div>
          <div class="col-6 align-self-center display-6 text-info text-right">{{ contenus.length }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngFor="let page of contenus">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row m-b-10">
          <div class="col-lg-2">
            <span class="badge m-r-10">
              <a [routerLink]="['./', page.id]">Voir <i class="m-l-10 fa fa-arrow-right"></i></a>
            </span>
            <span class="text-muted">Page: </span> {{ page.position }}
          </div>
          <div class="col-lg-2"><span class="text-muted">Langue: </span> {{ page.langue.nom }}</div>
          <div class="col-lg-2"><span class="text-muted">Textes: </span> {{ page.textes.length }}</div>
          <div class="col-lg-2"><span class="text-muted">Images: </span> {{ page.images.length }}</div>
          <div class="col-lg-2"><span class="text-muted">Audios: </span> {{ page.audios.length }}</div>
          <div class="col-lg-2">
            <div class="btn-group dropup">
                <button type="button" class="btn btn-primary">Actions</button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <button class="dropdown-item btn-sm btn" (click)='content = page' data-toggle="modal" data-target="#addText">Ajouter un texte</button>
                  <button class="dropdown-item btn-sm btn" (click)='content = page' data-toggle="modal" data-target="#addImage">Ajouter une image</button>
                  <button class="dropdown-item btn-sm btn">Ajouter un audio</button>
                  <div class="dropdown-divider"></div>
                  <button class="dropdown-item btn-sm btn"> <i class="fa fa-edit m-r-10"></i> Mise à jour</button>
                  <button class="dropdown-item btn-sm btn"> <i class="fa fa-trash m-r-10"></i> Supprimer</button>
                </div>
              </div>
          </div>
        </div>
        
        <!--
        <table class="table table-bordered" *ngIf='page.textes.length > 0'>
          <thead>
            <th>#</th>
            <th>Element</th>
          </thead>
          <tbody>
            <tr *ngFor='let texte of page.textes; let index=index'>
              <td>{{ index +1  }}</td>
              <td><div [innerHtml]='texte.description'></div></td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered" *ngIf='page.images.length > 0'>
          <thead>
            <th>Element</th>
          </thead>
          <tbody>
            <tr *ngFor='let images of page.images; let index=index'>
              <td>{{ index +1  }}</td>
              <td> <img src="images.url" alt=""> </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered" *ngIf='page.audios.length > 0'>
          <thead>
            <th>Element</th>
          </thead>
          <tbody>
            <tr *ngFor='let audio of page.audios; let index=index'>
              <td>{{ index +1  }}</td>
              <td>{{ audio.description }}</td>
            </tr>
          </tbody>
        </table>
      -->
      </div>
    </div>
  </div>
</div> 



<div class="modal fade" id="addContentInBook" tabindex="-1" role="dialog" aria-labelledby="addContentInBookLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="form-horizontal" (ngSubmit)="addContent(addContent)" #addContentForm="ngForm"> 
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addContentInBookLabel">Ajouter une page</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group row">
                <label for="position" class="col-sm-3 text-right control-label col-form-label">Position</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" id="position" min="0"
                      required 
                      name="position"
                      placeholder="Position du contenu"
                      [(ngModel)]='modelContent.position'
                      #position = 'ngModel'
                    >
                </div>
                <p [hidden]='position.valid || position.pristine' class="alert-error"> Ce champ est obligatoire</p>
            </div>
            <div class="form-group row">
                <label for="langue" class="col-sm-3 text-right control-label col-form-label">Langues</label>
                <div class="col-sm-9">
                  <select name="langue" id="langue" class="form-control" name="langue" [(ngModel)]='modelContent.langue_id'>
                      <option value="{{ langue.id }}" *ngFor='let langue of langues'>{{ langue.nom }}</option>
                  </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="disposition" class="col-sm-3 text-right control-label col-form-label">Disposition</label>
                <div class="col-sm-9">
                  <select name="disposition" id="disposition" class="form-control" name="disposition" [(ngModel)]='modelContent.disposition_id'>
                    <option value="{{ disposition.id }}" *ngFor='let disposition of dispositions'>{{ disposition.label }}</option>
                  </select>
                </div>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-sm btn-info" [disabled]="!addContentForm.form.valid || isLoading"><i class="fa fa-spinner fa-spin m-r-10" *ngIf='isLoading'></i>Enregistrer</button>
            </div>
        </div>
    </form>
  </div>
</div>


<div class="modal fade" id="addText" tabindex="-1" role="dialog" aria-labelledby="addTextLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form class="form-horizontal" (ngSubmit)="addText(addTextForm)" #addTextForm="ngForm"> 
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Ajouter un texte</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <div class="col-sm-12">
                  <label for="position" class="col-sm-8 text-left control-label col-form-label">Définisser la position du contenu</label>
                  <div class="col-sm-4 form-group">
                      <input type="number" min="0" id="position" class="form-control"
                        name="position-texte" required
                        [(ngModel)]='model.position'
                      >
                  </div>
                </div>
            </div>
            <div class="form-group row">
              <label for="texte" class="col-sm-12 text-left control-label col-form-label">Texte</label>
              <div class="col-sm-12">
                  <editor apiKey="{{tinymcekey}}" [init]="{plugins: 'link'}" [(ngModel)]="modelTexte" name='texte'></editor>
              </div>
            </div>
          </div>  
          <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-sm btn-info" [disabled]="!addTextForm.form.valid || isLoading"><i class="fa fa-spinner fa-spin m-r-10" *ngIf='isLoading'></i>Enregistrer</button>
            </div>
        </div>
    </form>
  </div>
</div>



<div class="modal fade" id="addImage" tabindex="-1" role="dialog" aria-labelledby="addTextLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form class="form-horizontal" (ngSubmit)="addImage(addImageForm)" #addImageForm="ngForm"> 
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Ajouter une image</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <div class="col-sm-12">
                <label for="position" class="col-sm-8 text-left control-label col-form-label">Définisser la position du contenu</label>
                <div class="col-sm-4 form-group">
                    <input type="number" min="0" id="position" class="form-control"
                      name="position-image" required
                      [(ngModel)]='model.position'
                    >
                </div>
              </div>
            </div>
            <div class="form-group row">  
              <div class="col-sm-12">
                  <label for="image" class="col-sm-3 text-left control-label col-form-label">Importer une image</label>
                  <div class="col-sm-9 form-group">
                      <input type="file" id="image" class="form-control" (change)="handleFileSelect($event)">
                  </div>
              </div>
            </div>
            <div class="row" *ngIf='images.length == 0'>
              <div class="col-sm-12">
                <p class="text-muted text-center">Aucune image pré enregistrée pour le moment</p>
              </div>
            </div>
            <div class="row" *ngIf='images.length > 0'>
              <div class="col-sm-12">
                  <p>Liste des images pré-enregistrées</p>
                  <ul class="list-inline">
                    <li *ngFor='let image of images'>
                      <a target="_blank" href="{{image.url}}">
                        <img src="{{image.url}}" alt="" width="100" height="100">
                      </a> 
                    </li>
                  </ul>
              </div>
            </div>
          </div>  
          <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-sm btn-info" [disabled]="!addImageForm.form.valid || isLoading"><i class="fa fa-spinner fa-spin m-r-10" *ngIf='isLoading'></i>Enregistrer</button>
            </div>
        </div>
    </form>
  </div>
</div>